{% extends 'base.html' %}
{% block content %}
{% load blog_extras %}
<form action="" method="POST">
    <div class="form-group">
        {% if auth_error %}
            <div class="alert alert-primary m-3" role="alert">
                {{ auth_error }}
            </div>
        {% endif %}
      <label for="username">username</label>
      <input type="text" class="form-control" id="username" name='username'>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}